@import vars

.ribbon, .ribbon-yellow, .ribbon-green
  display: inline-block
  padding: 5px 20px 5px 10px
  background: $c1a
  font-size: 15px
  letter-spacing: 3px
  color: #fff
  font-weight: 900
  min-width: 100px
  height: 30px
  margin: 5px 5px 15px -20px
  position: relative
  border-left: 5px solid $c1d
  text-shadow: 0 2px 0 $c1d
  &:before, &:after
    z-index: -1
    content: " "
    display: block
    position: absolute
    width: 0
    height: 0
    border-left: 30px solid transparent
    border-right: 30px solid transparent
  &:before
    border-top: 30px solid $c1a
    top: 0
    right: -15px
  &:after
    border-bottom: 30px solid $c1a
    bottom: 0
    right: -15px

.ribbon-yellow
  background: #ba0
  border-left: 5px solid #870
  text-shadow: 0 2px 0 #870
  &:before
    border-top-color: #ba0
  &:after
    border-bottom-color: #ba0

.ribbon-green
  background: #3BE500
  border-left: 5px solid #2BC300
  text-shadow: 0 2px 0 #3BC300
  &:before
    border-top-color: #3BE500
  &:after
    border-bottom-color: #3BE500


.panel.panel-discuss
  .panel-heading
    position: relative
    &:before
      content: " "
      display: block
      position: absolute
      border-right: 7px solid transparent
      border-bottom: 7px solid transparent
      border-left: 7px solid #fff
      border-top: 7px solid #fff
      bottom: -1px
      left: 45px
      @include transform(rotate(45deg) translate(0,10px))
      box-shadow: -1px -1px 0px #ccc
