@import basic
@import vars

#vote-detail
  .vote-title
    text-align: center
    padding: 20px
    border:
      top: 5px solid $c5b
    font-size: 2.3em
    font-weight: 900
  .vote-desc
    font-size: 1.3em
    letter-spacing: 1px
    .panel-body
      white-space: pre-wrap
      &:before, &:after
        display: block
        height: 0
        overflow: hidden
  .vote-item
    .panel-heading
      font-size: 1.3em
      letter-spacing: 1px
      font-weight: 900
      text-shadow: 0 1px 1px rgba(0,0,0,0.2)

  .bl-red, .bl-orange, .bl-yellow, .bl-green, .bl-blue
    background-position: 0 0
    padding-left: 20px


#vote-chart
  width: 100%

text.text
  fill: #fff
  font-size: 1.5em

text.text-shadow
  stroke: #000
  fill: #000
  stroke-width: 5px
  font-size: 1.5em
  stroke-linejoin: bevel
