{% extends 'two-column.jade' %}
{% load angularjs %}
{% load staticfiles %}
{% block 'content' %}
script(typ="text/javascript",src="{% static 'js/votedetail.js' %}")
#vote-detail(ng-controller="votedetail")
  script.
    var voteid = '{{vote.pk}}';
  div(style="position:absolute;text-align:right;right:0")
    .btn.btn-primary(ng-click="settype('verticalBar')") Vertical
    .btn.btn-primary(ng-click="settype('horizontalBar')") Horizontal
  svg#vote-chart(preserveAspectRatio="xMidYMid",style="border:1px solid #00")
  //-svg#vote-chart3(preserveAspectRatio="xMidYMid",style="border:1px solid #000")
  .vote-title {{vote.name}}
  .ribbon 說明
  //-.vote-desc {{vote.desc}}
  .panel.panel-default.vote-desc
    .panel-body {{vote.desc}}
  br
  .ribbon-yellow 候選項目
  .bl-yellow
    {% for item in vote.plan.all %}
    .panel.panel-default.vote-item.panel-discuss
      .panel-heading {{item.name}}
      .panel-body
        {% if item.desc %}
        | {{item.desc}}
        {% else %}
        | 這個項目沒有寫描述。
        {% endif %}
    {% endfor %}
  br
  .ribbon-green 討論
  .bl-green
    #vote-comment.panel.panel-default.panel-discuss
      .panel-heading
        .btn.btn-link
          i.glyphicon.glyphicon-comment
          |  發表意見 
        .btn.btn-link.green
          i.glyphicon.glyphicon-thumbs-up
          |  正方意見
          i.glyphicon.glyphicon-ok
        .btn.btn-link.gray
          i.glyphicon.glyphicon-adjust
          |  中立意見
          i.glyphicon.glyphicon-minus
        .btn.btn-link.red
          i.glyphicon.glyphicon-thumbs-down
          |  反方意見
          i.glyphicon.glyphicon-minus
        .clearfix
      .panel-body
        | 想討論什麼？
      .panel-footer
        .btn.btn-primary.pull-right 發言
        .clearfix
    .panel.panel-default.vote-post
      .panel-heading
        .avatar
        .ib
          .name
            | Kirby Wu
            .target
              i.glyphicon.glyphicon-arrow-right
              |  Admin : " 大家來測試一下... "
          .desc
            span.time 六分鐘前 
            span.label.label-success
              i.glyphicon.glyphicon-thumbs-up
              |  支持
        .clearfix
      .panel-body
        | 這是一個測試用的留言。
      .panel-footer
        .btn.btn-link 
          i.glyphicon.glyphicon-thumbs-up
          |  支持
        .btn.btn-link 
          i.glyphicon.glyphicon-hand-right
          |  中立
        .btn.btn-link
          i.glyphicon.glyphicon-thumbs-down
          |  反對
        .btn.btn-link.pull-right
          |  回覆

{% endblock %}

