{% extends 'two-column.jade' %}
{% load addon %}
{% load staticfiles %}
{% block 'content' %}
{% resInitAll %}
{% urlpatterns %}
script(type="text/javascript",src="/s/js/group/detail.js")
#group-detail(ng-controller="group.detail")
  h3 {{'group.name'|aj}}
  p {{'group.desc'|aj}}
  h4 成員
  div(ng-repeat="u in group.member") {{'u'|aj}}

  h4 投票案
  div(ng-repeat="v in group.vote") {{'v'|aj}}
  {% for vote in group.vote.all %}
  a(href="/vote/{{vote.id}}/") {{ vote.name }}
  {% endfor %}
  a(href="/group/{{'group.id'|aj}}/vote/new") 新增投票案
  a(href="{{'urlpatterns.new_vote_of_group(group.id)'|aj}}") 新增投票案

  br
  br

  {% with item=group %}
  {% include 'discuss/list.jade' %}
  {% endwith %}
{% endblock %}
