{% extends 'two-column.jade' %}
{% load addon %}
{% load staticfiles %}
{% block 'content' %}
{% urlpatterns %}
script(type="text/javascript",src="/s/js/group/edit.js")
#group-edit(ng-controller="group.edit")
  h3 新增群組
  br
  .form
    .form-group
      label 群組名稱
      input.form-control(type="text",ng-model="group.name",placeholder="群組名稱，例如：新世代青年打拼聯盟")
    .form-group
      label 群組描述
      textarea.form-control(type="text",ng-model="group.desc",placeholder="請于此詳細描述這個群組")
    .form-group
      label 加入成員
      input#member-chooser.form-control(type="hidden",multiple)
    .form-group
      label 指派管理員
      input#staff-chooser.form-control(type="hidden",multiple)
    hr
    .btn.btn-primary.btn-block.btn-lg(ng-click="create()") 建立群組
{% endblock %}
