{% load staticfiles %}
doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = true
- var useog = false
- var lib_jquery = true
- var lib_d3js = true
- var lib_angular = true
- var lib_bootstrap = true
- var lib_semantic = false
- var assets = "/s/assets"
- var thumbnail = "http://dummy.thumbnail"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title template
    // libraries
    include library.jade
    // custom files
    script(type="text/javascript",src="#{assets}/jquery/plugin/jquery.cookie.js")
    link(rel="stylesheet",type="text/css",href="/s/css/index.css")
    link(rel="stylesheet",type="text/css",href="/s/assets/datetime/datetimepicker.css")

    script(type="text/javascript",src="/s/assets/moment/moment.js")
    script(type="text/javascript",src="/s/assets/datetime/datetimepicker.js")
    script(type="text/javascript",src="/s/assets/ui-choices/ui-choices.js")
    script(type="text/javascript",src="/s/js/common.js")
    script(type="text/javascript",src="/s/js/index.js")
    script(type="text/javascript",src="/s/js/utils.js")
  body(ng-app="donvote")
    .nav.navbar.navbar-bindola.navbar-fixed-top(role="navigation")
      .container
        .navbar-header
          a.navbar-brand(href="#") 
            img(src="{% static 'img/logo-zh.png' %}")
            Bindola
        ul.nav.navbar-nav
          li: a(href="/vote/new")
            i.glyphicon.glyphicon-plus-sign
            |  新增提案
          li: a(href="/vote/") 
            i.glyphicon.glyphicon-th-list
            |  提案列表
        ul.nav.navbar-nav.pull-right
          {% if request.user.is_authenticated %}
          li
            .round-icon.active: i.glyphicon.glyphicon-comment
            .count 12
          li
            .round-icon: i.glyphicon.glyphicon-bell
          //li.sep-left
          li.sep-right.sep-left
            a.nav-user(href="#")
              img.avatar(src="http://graph.facebook.com/{{request.user.username}}/picture")
              | {{request.user.username}}
              b.caret
          {% else %}
          li: a(href="/accounts/login/") 登入
          li: a(href="/accounts/signup/") 註冊
          {% endif %}
    #root
      #content-nomargin
        | {% block content-nomargin %}
        | {% endblock %}
      #content-margin: .ib
        | {% block content-margin %}
        | {% endblock %}
    form
      | {% csrf_token %}
