| {% extends 'base.jade' %}
| {% load angularjs %}
| {% block content-margin %}
#dev(ng-controller="main",ng-init="id={{request.user.pk}}")
  .item(ng-show="!id"): .ib
    a.btn.btn-default(href="accounts/signup") Sign up
    a.btn.btn-default(href="accounts/login") Login
  .item(ng-show="id"): .ib
    h3 {{'user.username'|aj}}
    a.btn.btn-default(href="accounts/logout") Logout

  | {% if request.user.is_authenticated %}
  | {% include 'part/group.jade' %}
  | {% endif %}
  | {% include 'part/new-proposal.jade' %}
  | {% include 'part/new-plan.jade' %}
  .phantom-item
| {% endblock %}
