{% extends 'base.jade' %}
{% load angularjs %}
{% block content-margin %}
.row(style="width:80%;margin:0 auto;")
  .col-sm-3
    {% include 'side.jade' %}
  .col-sm-9
    {% include 'newvote.jade' %}
{% endblock %}
