{% extends 'base.jade' %}
{% load angularjs %}
{% block content-nomargin %}
#banner
  #slogan
    .title 要冰的就大聲說
    .subtitle 自己的桌、自己翻；自己的事，自己做主
  .bk(delay-bk="/s/img/landing/banner1.jpg")
{% endblock %}

