{% load angularjs %}
script(type="text/javascript",src="/s/js/newvote.js")
form#vote-new(ng-controller="newvote")
  h2 建立投票案
  hr
  .row
    .col-sm-3.text-right
      h3 基本設定
  .row
    .col-sm-3.text-right
      h4 投票名稱
    .col-sm-9
      input.form-control.input-lg(type="text",name="name",ng-model="vote.name",placeholder="例如：丹大野生動物保護區建立迪士尼樂園之表决")
  br
  .row
    .col-sm-3.text-right
      h4 詳細描述
    .col-sm-9
      textarea.form-control(name="desc",ng-model="vote.desc",style="min-height:100px",placeholder="請在此說明舉辦投票的原由、內容、目的、受眾等等細節。")
  .hr-dashed

  accordion.row(ng-expand="!custom.time")
    .col-sm-3.text-right
      h4 投票時間
      a(ng-click="custom.time = true")
        i.glyphicon.glyphicon-cog
        |  自訂..
    .col-sm-9.quick-btns
      choices(ng-model="quick.time",btn-type="btn-default btn-lg")
        choice(value="1",fallback,active)
          .title 彈性時間
          .desc 即刻開始，手動結束
        choice(value="2")
          .title 需要討論
          .desc 開始與結束時間未定
        choice(value="3")
          .title 預設間隔
          .desc 即刻開始，為期一天
  accordion.bl-orange(ng-expand="custom.time")
    .row
      .col-sm-3.text-right
        h3 時間設定
      .col-sm-9
        h3
          a.btn.btn-link(ng-click="custom.time=false") 
            | ... 或者回到簡易設定
            i.glyphicon.glyphicon.glyphicon-arrow-right
      .col-sm-3.text-right
        h4 開始時間
      .col-sm-9
        choices(ng-model="vote.startMethod",btn-type="btn-default",data-type="single")
          choice(value="1",active,fallback) 手動開始
          choice(value="2") 指定時間
          choice(value="3") 條件開始
        .br-more
        accordion(ng-expand="vote.startMethod[1]")
          .panel.panel-default
            .panel-heading 手動開始投票
            .panel-body
              | 在此設定下，你必須手動按下開始投票的按鈕，投票才會正式開始。
              br
              | 適合用在投票規格尚不確定的情況。
        accordion(ng-expand="vote.startMethod[2]")
          .panel.panel-default
            .panel-heading 指定開始時間
            .panel-body
              | 在此設定下，你可以明確指定投票開始的時間，時間一到投票即會自動開始。
              br
              | 適合用在投票時間明確的情況。
              .br-more
              .form-group
                label 開始時間
                .dropdown
                  a#dropdown-startdate.dropdown-toggle(role="button",data-toggle="dropdown")
                    .input-group
                      input.form-control(name="startDate",ng-model="vote.startDate",type="text")
                      span.input-group-addon
                        i.glyphicon.glyphicon-calendar
                  ul.dropdown-menu(role="menu")
                    datetimepicker(ng-model="vote.startDate",data-datetimepicker-config="{dropdownSelector: '#dropdown-startdate'}")
        accordion(ng-expand="vote.startMethod[3]")
          .panel.panel-default
            .panel-heading 設定開始條件
            .panel-body
              | 在此設定下，唯有指定的條件滿足時，才會觸發投票開始的倒數。
              br
              | 適合用在選項還不完整或需要群眾提供意見的情況。
              .br-more
              .checkbox.checkbox-higher
                label
                  input(type="checkbox",ng-model="vote.needPlan")
                  | 至少要有 {{'vote.planCount'|aj}} 個方案以上
                  input.form-control.input-sm.right-inline(name="planCount",ng-model="vote.planCount",type="number",ng-disabled="!vote.needPlan")
              .checkbox.checkbox-higher
                label
                  input(type="checkbox",ng-model="vote.needKarmaRate")
                  | 方案需總投票人數的 {{'vote.karmaRate'|aj}}% 以上認同方為有效
                  input.form-control.input-sm.right-inline(name="karmaRate",ng-model="vote.karmaRate",type="number",ng-disabled="!vote.needKarmaRate")
              .checkbox.checkbox-higher
                label
                  input(type="checkbox",ng-model="vote.needKarmaCount")
                  | 方案需 {{'vote.planKarmaCount'|aj}} 人以上認同方為有效
                  input.form-control.input-sm.right-inline(name="karmaCount",ng-model="vote.karmaCount",type="number",ng-disabled="!vote.needKarmaCount")
              .checkbox.checkbox-higher
                label
                  input(type="checkbox",ng-model="vote.needQuality")
                  | 有效方案占全部的 {{'vote.qualifiedRate'|aj}}% 以上
                  input.form-control.input-sm.right-inline(name="qualifiedRate",ng-model="vote.qualifiedRate",type="number",ng-disabled="!vote.needQuality")
              .checkbox.checkbox-higher
                label
                  input(type="checkbox",ng-model="vote.needAgree")
                  | 同意開始的投票人比例超過 {{'vote.agreeRate'|aj}}%
                  input.form-control.input-sm.right-inline(name="agreeRate",ng-model="vote.agreeRate",type="number",ng-disabled="!vote.needAgree")
              .checkbox.checkbox-higher
                label
                  input(type="checkbox",ng-model="vote.needAnswer")
                  | 問題回答率超過 {{'vote.answerRate'|aj}}%
                  input.form-control.input-sm.right-inline(name="answerRate",ng-model="vote.answerRate",type="number",ng-disabled="!vote.needAnswer")
              .checkbox.checkbox-higher
                label 
                  input(type="checkbox",ng-model="vote.needStartCountDown")
                  | 條件達成後，開始前的倒數時間
                  timedelta.right-inline(ng-model="vote.startCountDown",ng-disabled="!vote.needStartCountDown")
    .row
      .col-sm-3 
      .col-sm-9: .hr-dashed
    .row
      .col-sm-3.text-right
        h4 結束時間
      .col-sm-9
        choices(ng-model="vote.endMethod",btn-type="btn-default",data-type="single")
          choice(value="1",active,fallback) 手動結束
          choice(value="2") 指定時間
          choice(value="3") 條件結束
        .br-more
        accordion(ng-expand="vote.endMethod[1]")
          .panel.panel-default
            .panel-heading 手動結束投票
            .panel-body
              | 在此設定下，你必須手動按下結束投票的按鈕，投票才會正式結束。 
              br
              | 適合用在投票時程不固定的情況。
        accordion(ng-expand="vote.endMethod[2]")
          .panel.panel-default
            .panel-heading 指定結束時間
            .panel-body
              | 在此設定下，你可以明確指定投票結束的時間，時間一到投票即會自動結束。你可以擇一設定：明確指定結束的時間點，或是設定投票開始後的時間長度。
              br
              | 適合用在投票時間明確的情況。
              .br-more
              .radio
                label
                  input(type="radio",name="endDateType",value="1",ng-model="custom.endDateType",checked)
                  .form-group
                    label 指定結束時間
                    input.form-control(type="text",ng-model="vote.endDate",ng-disabled="custom.endDateType!=1")
              .radio
                label
                  input(type="radio",name="endDateType",value="2",ng-model="custom.endDateType")
                  .form-group
                    label 指定投票時間長度
                    timedelta(ng-model="vote.duration",ng-disabled="custom.endDateType!=2")
        accordion(ng-expand="vote.endMethod[3]")
          .panel.panel-default
            .panel-heading 設定結束條件
            .panel-body
              | 在此設定下，唯有指定的條件滿足時，才會觸發投票開始的倒數。 
              br
              | 適合用在投票案需要滿足一定條件才成立的情況。
              .br-more
              .checkbox.checkbox-higher
                label
                  input(type="checkbox",ng-model="vote.needVote")
                  | 投票率高於 {{'vote.voteRate'|aj}}%
                  input.form-control.input-sm.right-inline(name="voteRate",ng-model="vote.voteRate",type="number",ng-disabled="!vote.needVote")
              .checkbox.checkbox-higher
                label 
                  input(type="checkbox",ng-model="vote.needEndCountDown")
                  | 條件達成後，結束前的倒數時間
                timedelta.right-inline(ng-model="vote.endCountDown",ng-disabled="!vote.needEndCountDown")
  br
  accordion.row(ng-expand="!custom.plan")
    .col-sm-3.text-right
      h4 方案類型
      a(ng-click="custom.plan=true") 
        i.glyphicon.glyphicon-cog
        |  自訂..
    .col-sm-9.quick-btns
      choices(ng-model="quick.plan",btn-type="btn-default btn-lg")
        choice(value="1",fallback,active)
          .title 正反兩方
          .desc 選項包含贊同與反對
        choice(value="2")
          .title 三種選擇
          .desc 贊同、反對以及無感
        choice(value="3")
          .title 五星評分
          .desc 以星等表達支持程度

  accordion.bl-yellow(ng-expand="custom.plan")
    .row
      .col-sm-3.text-right
        h3 方案設定
      .col-sm-9
        h3
          a.btn.btn-link(ng-click="custom.plan=false") 
            | ... 或者回到簡易設定
            i.glyphicon.glyphicon.glyphicon-arrow-right

    .row
      .col-sm-3.text-right
        h4 投票形式
      .col-sm-9
        choices(ng-model="vote.voteMethod",btn-type="btn-default",data-type="single")
          choice(value="1",fallback,active) 單選
          choice(value="2") 多選
          choice(value="3") 排名
          choice(value="4") 給分
    .row
      .col-sm-3.text-right
        h4 多選票數
      .col-sm-9
        .form-group
          input.form-control(type="number",ng-model="vote.maxChoiceCount",ng-disabled="!vote.voteMethod[2]")
      .col-sm-3.text-right
        h4 排名演算法
      .col-sm-9
        select.form-control(name="rankMethod",ng-model="vote.rankMethod",ng-disabled="!vote.voteMethod[3] && !vote.voteMethod[4]")
          option(value="1") Schulze Method
          option(value="2") Ranked Pairs
          option(value="3") Copeland
          option(value="4") Kemeny-Young
          option(value="5") Nanson
          option(value="6") Baldwin
    .row
      .col-sm-3.text-right
        h4 方案列表
      .col-sm-9
        .btn.btn-dashed 請於下方新增方案
        .btn.btn-default.btn-click-rm(ng-repeat="p in vote.plan",ng-click="removeplan(p)") {{'p.name'|aj}}
    .row
      .col-sm-3.text-right
        h3 新增方案
    .row
      .col-sm-3.text-right
        h4 方案名稱
      .col-sm-9
        .form-group
          input.form-control(type="text",name="planname",ng-model="plan.name",placeholder="例如：我不贊同建設丹大野生動物保護區")
      .col-sm-3.text-right
        h4 方案描述
      .col-sm-9
        .form-group
          textarea.form-control(name="plandesc",ng-model="plan.desc",placeholder="請詳加描述這一個方案的細節")
      .col-sm-3
      .col-sm-9
        .btn.btn-primary.btn-rad.btn-block(ng-click="newplan(plan)") 新增方案
  br
  accordion(ng-expand="!custom.perm")
    .row
      .col-sm-3.text-right
        h4 投票權
        //- TODO - add permission
        //-a(ng-click="custom.perm=true") 
          i.glyphicon.glyphicon-cog
          |  自訂..
      .col-sm-9.quick-btns
        choices(ng-model="quick.perm",btn-type="btn-default btn-lg")
          choice(value="1",fallback,active)
            .title 所有用戶
            .desc 全站使用者都可投票
          choice(value="2",disabled)
            .title 我的朋友
            .desc 只有朋友們可以投票
          choice(value="3",disabled)
            .title 邀請投票
            .desc 需受到邀請才可投票
  accordion.bl-green(ng-expand="custom.perm")
    .row
      .col-sm-3.text-right
        h3 權限設定
      .col-sm-9
        h3
          a.btn.btn-link(ng-click="custom.perm=false")
            | ... 或者回到簡易設定
            i.glyphicon.glyphicon.glyphicon-arrow-right
    .row
      .col-sm-3.text-right
        h4 擁有者
      .col-sm-9
        input.form-control
    .row
      .col-sm-3.text-right
        h4 管理員
      .col-sm-9
        input.form-control
    .row
      .col-sm-3.text-right
        h4 投票權
      .col-sm-9
        input.form-control
    .row
      .col-sm-3.text-right
        h4 閱覽權
      .col-sm-9
        input.form-control
  .row(ng-click="custom.adv=!custom.adv",style="cursor:pointer")
    .col-sm-3.text-right
      h3 進階設定
    .col-sm-9
      h3: i.glyphicon.glyphicon-chevron-right.deg0(ng-class="{'deg90':custom.adv}")
  accordion.bl-blue(ng-expand="custom.adv")
    .row
      .col-sm-3.text-right
        h4 投票是否記名
      .col-sm-9
        .radio
          label
            input(type="radio",name="disclosedBallot",ng-model="custom.disclosedBallot",value="1")
            | 記名投票
        .radio
          label
            input(type="radio",name="disclosedBallot",ng-model="custom.disclosedBallot",value="0")
            | 不記名投票
        .checkbox
          label
            input(type="checkbox",name="allowAnonymous",ng-model="vote.allowAnonymous")
            | 沒登入也可以投票
        .checkbox
          label
            input(type="checkbox",name="noProxy",ng-model="vote.noProxy")
            | 需本人親自投票，不可委任
      .col-sm-3.text-right
        h4 投票有效性
      .col-sm-9
        .checkbox
          label
            input(type="checkbox",name="allowNullTickt",ng-model="vote.allowNullTicket")
            | 允許廢票
        .checkbox.checkbox-higher
          label
            input(type="checkbox",name="useNullTicketRate",ng-model="vote.useNullTicketRate")
            | 廢票率大於 {{'vote.nullTicketRate'|aj}}% 時投票作廢
            input.form-control.input-sm.right-inline(name="nullTicketRate",ng-model="vote.nullTicketRate",type="number",ng-disabled="!vote.useNullTicketRate")
        .checkbox.checkbox-higher
          label
            input(type="checkbox",name="useValidVoteRate",ng-model="vote.useValidVoteRate")
            | 票數不足 {{'vote.validVoteRate'|aj}}% 時投票作廢
            input.form-control.input-sm.right-inline(name="validVoteRate",ng-model="vote.validVoteRate",type="number",ng-disabled="!vote.useValidVoteRate")

        .checkbox.checkbox-higher
          label
            input(type="checkbox",name="useObtainRate",ng-model="vote.useObtainRate")
            | 最高得票率不足 {{'vote.obtainRate'|aj}}% 時投票作廢
            input.form-control.input-sm.right-inline(name="obtainRate",ng-model="vote.obtainRate",type="number",ng-disabled="!vote.useObtainRate")
      .col-sm-3.text-right
        h4 群眾協作
      .col-sm-9
        .checkbox
          label
            input(type="checkbox",name="mute",ng-model="vote.mute")
            | 禁止留言討論
        .checkbox
          label
            input(type="checkbox",name="noKarma",ng-model="vote.noKarma")
            | 關閉評價系統
        .checkbox
          label
            input(type="checkbox",name="allowFork",ng-model="vote.allowFork")
            | 允許複製此投票案
        .checkbox
          label
            input(type="checkbox",name="newPlanFromAll",ng-model="vote.allowNewPlan")
            | 投票人可開新方案

  hr
  .btn.btn-success.btn-lg.btn-block(ng-click="newvote(vote)") 馬上建立新投票案

  br
  br
  br
  br

