{% load addon %}
#side-menu
  .profile
    .avatar(src="http://graph.facebook.com/zbryikt/picture")
    .desc
      .nick 
        {% if request.user.last_name %}
        | {{request.user.last_name}}
        {% else %}
        | {{request.user.username}}
        {% endif %}
      .title 大將軍
  ul.list-group
    li.list-group-item 
      i.glyphicon.glyphicon-globe
      |  即時動態
      span.badge.badge-danger 14
  h5 我的社群
  ul.list-group
    li.list-group-item
      i.glyphicon
      |  零時政府
    {% for group in request.user.member.all %}
    li.list-group-item: a(href="/group/{{group.pk}}/")
      i.glyphicon.glyphicon-fire
      |  {{ group.name }}
    {% endfor %}
  h5 熱門社群
  ul.list-group
    li.list-group-item 
      i.glyphicon
      |  一般群眾
    li.list-group-item
      i.glyphicon
      |  零時政府
    li.list-group-item
      i.glyphicon
      |  公民組合
    li.list-group-item.list-group-item-simple: a(href="/group/new/")
      i.glyphicon.glyphicon-plus-sign
      |  建立新群組
