script(type="text/javascript",src="/s/js/discuss.js")
div(ng-controller="discuss")
  .panel.panel-default.panel-discuss-new
    .panel-heading
      .btn.btn-link
        i.glyphicon.glyphicon-comment
        |  發表意見 
      .btn.btn-link.green(ng-click="discuss.new.setPoint(1)")
        i.glyphicon.glyphicon-thumbs-up
        |  正方意見
        i.glyphicon.glyphicon-ok
      .btn.btn-link.gray(ng-click="discuss.new.setPoint(2)")
        i.glyphicon.glyphicon-adjust
        |  中立意見
        i.glyphicon.glyphicon-minus
      .btn.btn-link.red(ng-click="discuss.new.setPoint(3)")
        i.glyphicon.glyphicon-thumbs-down
        |  反方意見
        i.glyphicon.glyphicon-minus
      .clearfix
    .panel-body
      textarea(ng-model="discuss.new.d.content",placeholder="想討論什麼？")
    .panel-footer
      .btn.btn-primary.pull-right(ng-click="discuss.new.submit()") 發言
      .clearfix
  {% for discuss in item.discuss.all %}
  .panel.panel-default.panel-discuss
    .panel-heading
      .avatar
      .ib
        .name
          | {{discuss.owner}}
          .target
            i.glyphicon.glyphicon-arrow-right
            |  Admin : " 大家來測試一下... "
        .desc
          span.time {{discuss.createDate}}
          span.label.label-success
            i.glyphicon.glyphicon-thumbs-up
            |  支持
      .clearfix
    .panel-body
      | {{discuss.content}}
    .panel-footer
      .btn.btn-link 
        i.glyphicon.glyphicon-thumbs-up
        |  支持
      .btn.btn-link 
        i.glyphicon.glyphicon-hand-right
        |  中立
      .btn.btn-link
        i.glyphicon.glyphicon-thumbs-down
        |  反對
      .btn.btn-link.pull-right
        |  回覆
  {% endfor %}
